.form {
  font-family: "open sans";
  height: 500px;
  color: var(--color_principal);
}

.text-area {
    height: 200px;
}

.cont {
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  border-radius: 5%;
}
