<div class="container">
    <div class="d-flex flex-column p-3 justify-content-center align-items-center">
        <h2>Acerca de Nosotros</h2>
        <hr class="w-25">
        <p>Somos una tienda virtual dedicada a la venta de productos de alta calidad. Nuestro compromiso es ofrecer a
            nuestros clientes los mejores productos a los mejores precios.</p>
        <div class="row">
            <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
                <hr class="w-100">
                <h3>Nuestra Historia</h3>
                <hr class="w-25">
                <p>Comenzamos nuestra andadura en el año 2xxx con el objetivo de acercar los productos de calidad a
                    todos los
                    hogares. Desde entonces, hemos crecido hasta convertirnos en una de las tiendas virtuales de
                    referencia en
                    el
                    sector.</p>
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
                <hr class="w-100">
                <h3>Nuestro Equipo</h3>
                <hr class="w-25">
                <p>Contamos con un equipo de profesionales altamente cualificados que trabajan día a día para ofrecer el
                    mejor
                    servicio a nuestros clientes.</p>
            </div>
        </div>
    </div>
</div>