main {
    font: var(--font_normal);
    font-size: 1.4em;
    color: var(--color_principal);

    h2 {
        font: var(--font_title);
        font-size: 1.6em;
    }

    .category-img {
        height: 350px;
        object-fit: cover;
    }

    ul {
        list-style: none;
        a:hover{
            color: #fff;
        }
        li:hover{
            cursor: pointer;
            background-color: var(--color_secondary);
        }
        
        .selected {
            color: #fff;
            background-color: var(--color_secondary);
        }
        .selected:hover {
            cursor: default;
        }
    }
}